{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "REPLACE_WITH_STORAGE_KEY",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "COSMOS_ENDPOINT": "REPLACE_WITH_COSMOS_ENDPOINT",
    "COSMOS_KEY": "REPLACE_WITH_COSMOS_KEY",
    "COSMOS_DATABASE": "DietAnalysisDB",
    "COSMOS_CONTAINER": "AnalysisResults"
  }
}
